/* body { */
/*   text-align: justify; */
/* } */

img {
  width: 100%;

  -webkit-box-shadow: 2px 12px 20px #888;
     -moz-box-shadow: 2px 12px 20px #888;
          box-shadow: 2px 12px 20px #888;

  /* Sometimes my screenshot tool leaves artifacts, this papers over it */
  outline: 3px solid white;
  outline-offset: -3px;
}

footer {
  text-align: center;
}

.large {
  font-size: 120%;
}

.center, .centered {
  text-align: center;
}

.right {
  float: right;
}

.strikethrough, .struckthrough {
  text-decoration: line-through;
}

.grey { color: #999; }

.green { color: #7f9f7f; }

.red { color: #cc9393; }

.how-it-works-highlight {
  background: #f0ebee;
  border-radius: 6px;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}
