code {
  background-color: white;
  color: #444;
  padding: 0;
}

pre code {
  background-color: #eff1f5;
}

img {
  width: 100%;

  -webkit-box-shadow: 2px 12px 20px #888;
     -moz-box-shadow: 2px 12px 20px #888;
          box-shadow: 2px 12px 20px #888;

  /* Sometimes my screenshot tool leaves artifacts, this papers over it */
  outline: 3px solid white;
  outline-offset: -3px;
}

footer {
  text-align: center;
}

.anchor {
  font-size: 75%
}

.large {
  font-size: 120%;
}

.center, .centered {
  text-align: center;
}

.right {
  float: right;
}

.strikethrough, .struckthrough {
  text-decoration: line-through;
}

.grey { color: #999; }

.green { color: #7f9f7f; }

.red { color: #cc9393; }

/*
 * For available-restylers
 *
 */
pre code.hljs {
  padding: 0 !important;
}

table, .highlight {
  width: 55ch;
  margin: 0 auto 1em auto;
}

table tr:first-child > th:first-child {
  border-radius: 0;
}

table th {
  color: inherit;
  background-color: inherit;
}

aside#table-of-contents {
  background-color: #595959;
  border-radius: unset;
  color: white;
  display: block;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 46px; /* height of nav */
  width: 240px;
  z-index: 1;
}

#table-of-contents ul {
  list-style-type: none;
  padding-top: 12px;
}

#table-of-contents a {
  text-decoration: none;
  text-transform: uppercase;
}

#main {
  margin: 0 auto 0 240px;
}

.test {
  border-radius: 5px;
  border: 1px solid #909090;
  margin: 1em;
  padding: 0.5rem;
}
