code {
  background-color: white;
  color: #444;
  padding: 0;
  padding-bottom: 2px;
}

pre {
  background-color: #f3f3f3;
}

img {
  max-width: 100%;

  -webkit-box-shadow: 2px 12px 20px #888;
     -moz-box-shadow: 2px 12px 20px #888;
          box-shadow: 2px 12px 20px #888;

  /* Sometimes my screenshot tool leaves artifacts, this papers over it */
  outline: 3px solid white;
  outline-offset: -3px;
}

footer {
  text-align: center;
}

.note {
  background-color: #ddeefa;
  border-radius: 3px;
  border: solid 1px;
  color: #4c4f69;
  margin-bottom: 1em;
  padding: 1em;
}

.note code {
  background-color: #ddeefa;
}

.anchor {
  display: none;
  font-size: 75%
}

h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline-block;
}

.large {
  font-size: 120%;
}

.center, .centered {
  text-align: center;
}

.right {
  float: right;
}

.strikethrough, .struckthrough {
  text-decoration: line-through;
}

.grey { color: #999; }

.green { color: #7f9f7f; }

.red { color: #cc9393; }

/*
 * For /restylers
 *
 */
pre code.hljs {
  padding: 0 !important;
}

table {
  margin: 1em 0;
  width: 100%;
}

table tr:first-child > th:first-child {
  border-radius: 0;
}

table th {
  color: inherit;
  background-color: inherit;
}

aside#table-of-contents {
  background-color: #595959;
  border-radius: unset;
  color: white;
  display: block;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 46px; /* height of nav */
  width: 240px;
  z-index: 1;
}

@media only screen and (max-width: 1080px) {
  aside#table-of-contents {
    display: none;
  }
}

#table-of-contents ul {
  list-style-type: none;
  padding-top: 12px;
}

#table-of-contents a {
  text-decoration: none;
  text-transform: uppercase;
}

#table-of-contents .sub {
  font-size: 95%;
  padding-left: 1em;
}

section#restylers {
  margin-top: 0;
  padding-top: 0;
}

@media screen and (min-width: 1080px) {
  section#restylers {
    width: calc(980px - 240px);
    margin-left: 240px;
  }
}

.spinner {
  display: none;
}

.loading .spinner {
  display: block;
}

.test {
  border-radius: 5px;
  border: 1px solid #909090;
  margin: 1em;
  padding: 0.5rem;
}
