<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "navigation.html" . }}
    <div class="main">
    {{ block "main" . }}{{ end }}
    </div>
    {{ partial "footer.html" . }}

    <!-- for restylers page -->
    {{ with resources.GetRemote "https://code.jquery.com/jquery-3.5.1.min.js" | resources.Fingerprint }}
      <script src="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" ></script>
    {{ end }}
    <script src="/vendor/highlight.min.js"></script>
    <script src="/vendor/js-yaml.min.js"></script>
    {{ with resources.Get "js/main.ts" | js.Build | resources.Minify | resources.Fingerprint }}
      <script src="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous" ></script>
    {{ end }}
  </body>
</html>
